body {
  background-color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.horizontal {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vertical {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #ffff;
}
.date {
  color: #ffff;
}
.button {
  font-size: 18px;
  border-radius: 5px;
  
}
